<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo CKEditor FileBrowser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-success">Hello world</h1>
        <textarea name="txaContent" id="txaContent" rows="10" cols="80">
            This is text area content.
        </textarea>
    </div>
</body>
</html>
<script src="/ckeditor/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script>
    CKEDITOR.replace('txaContent',{
        extraPlugins:'imagebrowser',
        imageBrowser_listUrl: '/files',
        //filebrowserBrowseUrl:'/files',//upload location
        filebrowserUploadMethod:'form',
        filebrowserUploadUrl:'http://10.0.0.47:3002/kong/media/api/v1/upload/image'//route
    })
</script>